<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergunta de Soma</title>
</head>
<body>
    <div>
        <h1>Pergunta de Soma</h1>
    </div>
    <div>
        <form action="/soma" method="post">
            <label for="numero">Digite o primeiro número: </label>
            <input type="number" name="numero1" placeholder="Número 1">

            <label for="numero">Digite o segundo número: </label>
            <input type="number" name="numero2" placeholder="Número 2">
            
            <button type="submit">Somar</button>
        </form>
    </div>
</body>
</html>