<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Resposta</title>
</head>
<body>
    <div>
        <h1>Resultado da Soma</h1>
    </div>
    <div>
        <h2>O resultado da soma é: <%= soma %></h2>
    </div>
</body>
</html>